a{ text-decoration:none!important; outline: none!important;}


.aboutusblock1 span.titleinfo2{
    color: #242424;
    font-family: "RalewayBold";
    font-size: 29px;
    margin: 0;
    text-transform: uppercase;
    line-height: 30px;
    display: inline-block;
    position: relative;
    margin-top: -3px;
}

.aboutusblock1 span.titleinfo2:after{
    content:"";
    background:#89b11d;
    height:4px;
    width:200px;
    display: block;
    margin-top:15px;
    margin-bottom:20px;
}

.aboutusblock1 p img.aboutimg2new{
    float: left;
    vertical-align: top;
    margin: 0px 65px 35px 0px; width: 278px;
}

.aboutusblock1 span.titleheadlinenew2{
    color: #fff;
    font-family: "RalewayBold";
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    display: inline-block;
    position:relative;
    background:#d90253;
    padding:15px;
    margin-bottom: 20px;
}

.opportunity_block_con{ padding:32px 0;  border-top: solid 1px #c6c6c6;}
.opportunity_block_con:first-of-type{ border: none; padding-top: 20px;}

.opportunity_block_con:last-of-type{ padding-bottom: 0px;}

.opportunity_block_con .opp_div1{ width: 280px; float: left;}

.opportunity_block_con .opp_div1 img{ display: block; margin: 0 auto; margin-top: 0px; width: 260px;}


.opportunity_block_con .opp_div2{ width: 360px; float: left; padding: 0 10px;}

.opportunity_block_con .opp_div2 h2{ margin: 0; padding: 0; font-family: 'EngraversGothicBT'; font-size: 32px; color: #1d1d1d; text-transform: uppercase;}

.opportunity_block_con .opp_div2 h3{ margin: 0; padding: 10px 0 0 0;  font-family: 'RalewayRegular'; font-size: 14px; color: #393838; line-height: 22px; }
.opportunity_block_con .opp_div2 h3 span{ color: #e10227;}

.opportunity_block_con .opp_div3{ width:266px; float: left; padding: 20px 15px;  min-height: 320px;}

.opportunity_block_con .opp_div3 h4{ font-size: 30px; color: #dc1f90; margin: 0; padding: 0;   font-family: 'RalewayBold'; text-transform: uppercase;}
.opportunity_block_con .opp_div3 h5{ font-size: 20px; color: #2d2d2d; margin: 0; padding: 10px 0;    font-family: 'RalewayRegular';}
.opportunity_block_con .opp_div3 ul{ margin: 0; padding: 0;}

.opportunity_block_con .opp_div3 ul li{ list-style: none; margin: 6px 0; font-size: 16px; color: #3e520c; font-family: 'RalewayRegular'; padding-left: 20px; background: url(../images/ad_text_bullate.jpg) no-repeat left center;}



/* .opp_div3:nth-child(1){ background: #e0ebc5; }
.opp_div3:nth-child(2){ background: #fae1cb; }
 .opp_div3:nth-child(3){ background: #f6d3e6; }
 .opp_div3:nth-child(4){ background: #f6f1c0; }
.opp_div3:nth-child(5){ background: #bde9f7; }*/


.opportunity_block_con:nth-child(4n-9) .opp_div3{ background: #e0ebc5; }

.opportunity_block_con:nth-child(4n-9) .opp_div3 ul li{ color: #3e520c; }

.opportunity_block_con:nth-child(4n-10) .opp_div3{ background: #fae1cb; }

.opportunity_block_con:nth-child(4n-10) .opp_div3 ul li{ color: #68370b; }


.opportunity_block_con:nth-child(4n-11) .opp_div3{ background: #f6d3e6; }

.opportunity_block_con:nth-child(4n-11) .opp_div3 ul li{ color: #6f1a4d; }


.opportunity_block_con:nth-child(4n-12) .opp_div3{ background: #f6f1c0; }

.opportunity_block_con:nth-child(4n-12) .opp_div3 ul li{ color: #574208; }


.opportunity_block_con:nth-child(4n-13) .opp_div3{ background: #bde9f7; }

.opportunity_block_con:nth-child(4n-13) .opp_div3 ul li{ color: #0e587b; }






.opportunity_block_con .opp_div4{ width:348px; float: right;  }

.opportunity_block_con .opp_div4 a{ margin-top: 12px; width: 166px; height: 50px; border-radius: 4px; line-height: 48px; background: #fff; border:  solid 2px #688816; font-size: 16px; color: #688816; text-align: center;   font-family: 'RalewaySemiBold'; text-transform: uppercase; text-decoration: none!important;}
.opportunity_block_con .opp_div4 .opplink_pro1{ display: block; float: left;}
.opportunity_block_con .opp_div4 .opplink_pro2{ display: block; float: right;}

.opportunity_block_con .opp_div4 img{ display: block; margin: 0 auto;}



.hrlinenew{    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    background: #c7c7c7;
    height: 1px;
    display: block;}

.checkoutfromblock h2{    color: #131313;
    font-family: "RalewayBold";
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px!important; text-transform: uppercase;}

.checkoutblockwrappernew label{ font-weight: normal!important;}


.opportunity_btnwrapper{ width: 380px; margin: 0 auto; margin-top:25px;}

/*.opportunity_btnwrapper input{width: 170px!important; margin: 0 9px!important; height: 46px!important; border:solid 2px #000000!important; border-radius: 4px!important; background: #fff!important; text-align: center!important; line-height: 35px!important; font-size: 16px!important; color: #000000!important; text-transform: uppercase!important;      font-family: 'RalewaySemiBold'!important; box-shadow: none!important;}*/
.btnform{ margin-top: 25px !important;}

.opportunity_btnwrapper input{
    width: 170px !important;
    margin: 0 9px !important;
    height: 54px !important;
    border: solid 2px #000000 !important;
    border-radius: 0px !important;
    text-align: center !important;
    line-height: 30px !important;
    color: rgb(230, 230, 230) !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
    font-family: "OpenSans" !important;
    box-shadow: none !important;
    background: rgb(45, 45, 45) !important;
    background: -moz-linear-gradient(270deg, rgb(45, 45, 45) 30%, rgb(1, 1, 1) 70%) !important;
    background: -webkit-linear-gradient(270deg, rgb(45, 45, 45) 30%, rgb(1, 1, 1) 70%) !important;
    background: -o-linear-gradient(270deg, rgb(45, 45, 45) 30%, rgb(1, 1, 1) 70%) !important;
    background: -ms-linear-gradient(270deg, rgb(45, 45, 45) 30%, rgb(1, 1, 1) 70%) !important;
    background: linear-gradient(180deg, rgb(45, 45, 45) 30%, rgb(1, 1, 1) 70%) !important;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8) !important;
}

.cannabinoides_top_banner{ display: block; width: 100%;}

.cannabinoides_h6text{ font-size: 16px; color: #494949; font-family: 'RalewayRegular'; line-height: 24px; margin: 0; padding: 18px 0 0 0;}

.cannabinoides_h6text b{ font-weight: normal; color: #7ca300;}

.cannabinoides_wrapper2{ border-top: solid 1px #dfdfdf; border-bottom: solid 1px #dfdfdf; padding: 25px 0; margin: 25px 0;}

.cannabinoides_wrapper2 .cannabinoides_block2_left{ width: 590px; float: left;}

.cannabinoides_wrapper2 .cannabinoides_block2_left h1{ font-size: 30px; color: #242424; text-transform: capitalize; font-family: "RalewayBold"; border-bottom: solid 4px #89b11d; margin: 0; padding: 0 0 10px 0;}

.cannabinoides_wrapper2 .cannabinoides_block2_right{ width: 655px; float: right; margin-top: 43px;}

.cannabinoides_wrapper2 .cannabinoides_block2_right img{ width: 100%;}

.cannabinoides_h6text span{ color: #d90253;}


.cannabinoides_block3_left{ width: 514px; float: left;}

.cannabinoides_block3_left h1{ padding: 0; margin: 0; font-size: 30px; color: #242424; text-transform: uppercase; font-family: "RalewayBold";}
.cannabinoides_block3_left h3{ padding: 16px 5px; margin:16px 0 14px 0; background: #d90253; text-align:center; font-size: 24px; color: #ffffff;    font-family: 'RalewaySemiBold'; }

.cannabinoides_block3_left  .cannabinoides_img3{ display: block; width: 100%;}

.cannabinoides_proimg{ width: 319px; float: right; margin-top: 58px;}


.cannabinoides_block3_ulcontain{ width: 370px; float: left; margin: 58px 0 0 35px;}

.cannabinoides_block3_ulcontain ul{ margin: 0; padding: 0;}

.cannabinoides_block3_ulcontain li{ background: url(../images/cannabinoides_libg.png) no-repeat left center; list-style:none; margin: 2px 0; padding: 4px 0 4px 46px; font-size: 22px; color: #555454; font-family: 'RalewaySemiBold';}


.cul_buynow{ display: block;  margin-top: 26px; margin-left: 80px; width: 170px; height: 50px; border: solid 1px #9bbf00; border-radius: 4px;  font-size: 16px; color: #a0c400!important; font-family: 'RalewaySemiBold';  text-transform: uppercase; text-decoration: none!important; text-align: center; line-height: 50px;}
.cannabinoides_h6text2{ font-size: 16px; color: #494949; font-family: 'RalewayRegular'; line-height: 24px; margin: 0; padding: 34px 0 0 0;}

.cannabinoides_h6text2 span{ color: #d90253;}





.programopModablock .modal-content{ border: solid 5px #688816;}

/*.programopModablock .modal-dialog{}*/
.programopModablock .modal-title{ font-size: 20px; color: #688816;      font-family: 'OpenSans-Semibold'; }

.programopModablock .modal-header .close{font-size: 26px; color: #688816; border: none; box-shadow: none; opacity: 10; }


.opportunity_logoimg{ display: block; margin: 0 auto; width: 280px; margin-top: 10px;}

.programopModablock h3{ margin: 0; padding: 20px;    font-family: 'MyriadProRegular'; font-size: 16px; line-height: 24px; text-align: center;}

.programopModablock h3 img{ display: block; width: 280px; margin: 0 auto; margin-bottom: 20px; display: none;}

.aboutusblock1newtext{color: #2a2929;
    font-family: "RalewayRegular";
    font-size: 18px;
    line-height: 30px; padding-bottom: 50px;}

.aboutusblock1newtext ul{ padding-bottom: 30px;}

.aboutusblock1newtext .aboutimg3new{ display: inline; float: left; margin: 0 20px 20px 0;}





.topmenumodal .modal-content{ border: solid 5px #688816;}

.topmenumodal .modal-header .close{font-size: 26px; color: #688816; border: none; box-shadow: none; opacity: 10; }


.topmenumodal .modal-header{ border:none!important; min-height: inherit!important; height: 20px!important;}

.topmenumodal h4{     font-family: 'OpenSans-Semibold'; font-size: 40px; line-height: 46px; text-align: center; padding: 35px 0; text-transform: uppercase; color: #688816;}

.footermodel .modal-content{ border: solid 5px #688816;}
.footermenumodal .modal-dialog{ width:80%; color: #333;}

.footermenumodal .modal-body{ padding: 35px;}
.footermenumodal h2{ color: #387414; font-size: 24px;}
.footermenumodal b strong{ color: #387414; font-size: 24px;}

.footermenumodal label{ color: #387414; }

.footermenumodal a{ color: #333; text-decoration: underline; cursor: pointer; }

.footermenumodal a:hover{ color: #387414; text-decoration: none; }

.footermenumodal .classdiv1_new{ margin: 0 0 15px 0;}

.footermenumodal .classdiv1{ margin: 0 0 15px 0;}

.footermenumodal .classdiv2{ margin: 0 0 15px 0px;}


.footermenumodal .btnjoinnow{ cursor: pointer;}


.footermenumodal .close{ box-shadow:none!important; outline: none;}

.footermenumodal .modal-header .close {
    background: #323232 !important;
    opacity: 1;
    color: #fff;
    padding: 5px 9px;
    border-radius: 100%;
    margin-top: -7px;
    margin-right: -10px;
}




.footermenumodal .modal-header {
    background: #397714;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 73px;}



.footermenumodal .modal-header{background: #397714; width: 100%; margin: 0; padding: 0; min-height: 73px;border-radius-topleft:6px;
    border-radius-topright:6px; -webkit-border-radius-topleft:6px; -webkit-border-radius-topright:6px; -moz-border-radius-topleft:6px;    -moz-border-radius-topright:6px;}
.footermenumodal .modal-header h4.modal-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'OpenSansBold';
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 37px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 18px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.40);
}

.footermenumodal .modal-header .close{background: #323232 !important; opacity: 1; color: #fff; padding: 5px 9px; border-radius: 100%;margin-top: -7px; margin-right: -10px;}

.footermenumodal b{
    font-family: 'MyriadProRegular';
    font-size: 16px;
    line-height: 25px;
    color: #333;
    display: block;

    font-weight: normal; background: url("../images/popupicon.png") no-repeat left 8px; padding: 0 0 10px 15px;
}


.footermenumodal .modal-dialog{ width:80%; color: #333;}

.footermenumodal .modal-body{ padding: 35px;}
.footermenumodal h2{ color: #387414; font-size: 24px;}
.footermenumodal b strong{ color: #387414; font-size: 24px;}

.footermenumodal label{ color: #387414; }

.footermenumodal a{ color: #333; text-decoration: underline; cursor: pointer; }

.footermenumodal a:hover{ color: #387414; text-decoration: none; }


.new_homeimg{ width: 480px; margin-top: 0px; float: right;}

/*
.homeblock2wrapper {
    padding-left: 210px !important;

}
*/
.homeblock2wrapper .homeblock2videocontent{
    padding-right: 0px !important;
}
.new_homeimg2{
    width: 570px;
    position: absolute;
    top: 0px;
    right: 16%;
}
.homeblock2wrapper{
    width: 1280px!important;
    padding: 0px!important;
    margin: 0 auto!important;
}

.bynowopponew{ background: #006fdf!important; color: #fff!important;}












/*================================================================================================*/
/*========================================== Media Css  ==========================================*/
/*================================================================================================*/

@media only screen and (max-width: 1680px) {
    /*.homeblock2wrapper {
        padding-left: 150px !important;
    }*/
    .new_homeimg2 {
        right:10%;
    }
}

@media only screen and (max-width: 1600px) {
    .new_homeimg2 {
        right: 9%;
    }
}

@media only screen and (max-width: 1500px) {
    .new_homeimg2 {
        right: 5%;
    }
}
@media only screen and (max-width: 1400px) {
    .new_homeimg2 {
        right: 2%;
    }
}



@media only screen and (max-width: 1360px) {
    .new_homeimg{ width: 430px; margin-top: 0px; float: right;}

   /* .homeblock2wrapper {
        padding-left: 100px !important;
    }*/
    .new_homeimg2 {
        right: 0%;
    }
}

@media only screen and (max-width: 1300px) {
.aboutusblock1 p img.aboutimg1{ margin-left: 20px;}


    .cannabinoides_wrapper2 .cannabinoides_block2_right{ width: 600px; margin-top: 80px}

    .cannabinoides_block3_ulcontain {
        width: 340px;
        float: left;
        margin: 58px 0 0 26px;
    }

    .cannabinoides_block3_left {
        width: 500px;
        float: left;
    }



}

@media only screen and (max-width: 1280px) {
    .new_homeimg{ width: auto; display:block; margin: 0 auto; margin-top: 10px; float: none; max-width: 100%;}

    .homeblock2wrapper {
        padding-left: 0px !important;
    }

    .homeblock2content{ width: 50%!important;}

    .homeblock2{ padding-bottom: 0px!important;}

    .homeblock2content p{padding-left: 10px!important; padding-right: 10px!important; }

    .homeblock2videocontent{ width: 100%!important; margin: 0!important; padding: 0!important; text-align: center;}

}
@media only screen and (max-width: 1280px) {

    .opportunity_block_con .opp_div1 {
        width: 260px !important;
        float: left !important;
    }

    .opportunity_block_con .opp_div2 {
        float: left;
        padding: 0 10px;
        width: 340px;
    }

    .opportunity_block_con .opp_div3 {
        float: left;
        min-height: 320px;
        padding: 20px 15px;
        width: 260px;
    }

}

@media only screen and (max-width: 1260px) {
    .opportunity_block_con .opp_div1 {
        float: none !important;
        width: 100% !important;
        text-align: center !important;
    }

    .opportunity_block_con .opp_div2 {
        float: none !important;
        width: 100% !important;
        text-align: center !important;
        margin: 25px auto !important;
    }

    .opportunity_block_con .opp_div3 {
        float: none !important;
        width: 100% !important;
        text-align: center;
        margin: 25px auto;
        min-height: inherit;
    }

    .opportunity_block_con .opp_div4 {
        float: none !important;
        width: 348px;
        margin: 0 auto;
    }


}

@media only screen and (max-width: 1260px) {
    .aboutusblock1 span.titleinfo2 {
        text-align: center;
    }
    .aboutusblock1 span.titleinfo2:after {
        margin-left: auto;
        margin-right: auto;
    }
    .opportunity_block_con .opp_div1 img{ max-width: inherit; width: 280px!important;}

.cannabinoides_block3_left {
    width: 420px;
    float: left;
}

    .cannabinoides_block3_ulcontain{ margin-top: 40px;}

    .cannabinoides_proimg {
        width: 300px;
        float: right;
        margin-top: 38px;
    }

    .cannabinoides_wrapper2 .cannabinoides_block2_right {
        width: 510px;
        margin-top: 90px;
    }
}
@media only screen and (max-width: 1250px) {
    .aboutusblock1 p img.aboutimg1{ margin-left: 0px;}
}




@media only screen and (max-width: 1199px) {
    .homeblock2content {
        width: 100% !important;
        text-align: center;
    }


    .cannabinoides_wrapper2 .cannabinoides_block2_left {
        width: 100%;
        float: none;
    }


    .cannabinoides_wrapper2 .cannabinoides_block2_right{ width: 700px; float: none; margin: 0 auto; margin-top: 20px;}


    .cannabinoides_block3_left {
        width: 100%;
        float: none;
    }

    .cannabinoides_block3_ulcontain {
        width: 340px;
        float: none;
        margin: 30px auto;
    }

    .cannabinoides_proimg{ width: 300px; float: none; margin: 0 auto; display: block; margin-top: 30px;}

    .cul_buynow{ margin: 0 auto; margin-top: 26px;}


    .opportunity_block_con .opp_div4 a{ margin-top: 10px;}

    .aboutusblock1 span.titleinfo2{ text-align: center; padding-top: 30px;}

    .aboutusblock1 span.titleinfo2:after{ width: 100%;}

    .aboutusblock1 span.titleheadlinenew2{display: block;
        float: left;
        margin-bottom: 10px;
        margin-top: 17px;
        text-align: center;
        width: 100%;}

    .opportunity_block_con .opp_div3 ul li{ background:none; padding: 0px;}


}


@media only screen and (max-width: 980px) {

    .cardexpiredblock {
        margin-top: 0px;
        padding-left: 15px !important;
        padding-right: 15px !important;  margin-bottom: 10px;
    }

  .tripplecolumn{ margin-bottom: 10px;}
  .tripplecolumnnew1{ margin-bottom: 10px;}

}
@media only screen and (max-width: 760px) {
.cannabinoides_wrapper2 .cannabinoides_block2_right{ width: 100%;}
}

@media only screen and (max-width: 680px) {

    .aboutusblock1newtext .aboutimg3new{ display: block; float: none; margin: 0 auto; margin-bottom: 35px; max-width: 100%;}
    .aboutusblock1 p img.aboutimg2new{
        float: none;

        margin: 35px auto; display:block; width: 100%; margin-top: 4px;
    }

    .aboutusblock1newtext{ text-align: center;}
}




@media only screen and (max-width: 460px) {

    .opportunity_block_con .opp_div4 {
        float: none;
        width: 100%; margin: 0 auto;
    }

    .opportunity_block_con .opp_div4 img{ width: 100%;}

    .opportunity_btnwrapper{ width: 100%; margin: 0 auto; margin-top:25px;}

    .opportunity_btnwrapper input{ width: 170px!important; float: none!important; margin: 5px auto!important; display: block;}

.paymentmode img{ margin-bottom: 4px;}

 /*   .cardexpiredblock select{ width: 40%;}*/

    .opportunity_block_con .opp_div4 .opplink_pro1{ float: none; margin: 0 auto; margin-top: 20px;}
    .opportunity_block_con .opp_div4 .opplink_pro2{ float: none; margin: 0 auto; margin-top: 20px;}


    .checkoutfromblock{ padding-left: 0px!important; padding-right: 0px!important;}

    .cardexpiredblock{ padding-left: 15px!important; padding-right: 15px!important;}


    .cannabinoides_proimg {
        width: 250px;}

    .cannabinoides_block3_ulcontain {
        width: 260px;
        float: none;
        margin: 30px auto;
    }

    .cannabinoides_block3_ulcontain li{ font-size: 16px; padding-left: 34px;}

    .cannabinoides_h6text{ text-align: center;}

    .cannabinoides_h6text2{text-align: center;}
    .cannabinoides_block3_left h1{text-align: center;}
    .cannabinoides_wrapper2 .cannabinoides_block2_left h1{text-align: center;}
}


.homeblock10contentwrapper{ padding-top: 25px;}


.prodinfohrline{ margin-bottom: 29px;}



.innerpageprodcontentboxwrapper  .titlespanlistheader {
    font-family: "RalewayBold";
    font-size: 18px;
    color: #000000;
    line-height: 18px;
    margin-bottom: 18px;
    margin-left: 10px;
    display: block;
}


.innerpageprodcontentboxwrapper .titlespaninfo {
    font-family: "RalewayRegular";
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    display: block;
    margin-bottom: 24px;
    margin-top: 10px; margin-left: 24px;
}


.viproductlistsinfo div {
    font-family: "RalewayRegular";
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    display: block;
    margin-bottom: 24px;
    margin-top: 10px;
}


.viproductlistsinfowrapper  .col-md-3 .infohead6{ margin-bottom: 17px!important;}


